@import "./mixins";

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.nav {
    color: aliceblue;
    &__uList {
        display: flex;
        gap: 10%;
    }

    &__listItem {
        font-size: 1.5rem;
        margin: 1rem;
        & span {
            &:hover {
                color: #92caf1;
                cursor: pointer;
            }
            &:active {
                color: #3ca1e9;
            }
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/pizza.jpeg);
        width: 100%;
        padding: 2rem;
        background-size: cover;
        z-index: 0;

        &::before {
            @include darkenElement();
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 70%;
        gap: 2rem;
    }

    &__title {
        font-size: 4rem;
    }

    &__description {
        text-align: center;
        font-size: 1.5rem;
    }

    &__hours > p {
        text-align: center;
    }

    &__location:last-child {
        margin-bottom: 1rem;
    }
}

.title {
    font-weight: bold;
}
.card {
    width: 400px;

    margin-top: 3rem;
    padding: 1rem;

    border: 7px solid #cb5618;
    border-radius: 10px;
    box-shadow: 0 0 1cqb rgba(0, 0, 0, 0.479);

    background-color: #f0d5ab;

    font-size: 1.2rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.parallax {
    perspective: 0.1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    &__layer{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &--base{
            transform: translateZ(0);
        }

        &--back{
            transform: translateZ(-2px) scale(4);
            background-image: url("../img/backgroundPizza.jpeg");
            background-size: cover;
            background-position-y: -650px;

            &::before {
                @include darkenElement(#00000050);
            }
        }
    }
}
